<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Awesome Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Awesome Blog
    </h1>
    <!-- Only display the logout button if the user is logged in -->
    <nav>
        <a class="btn" href='/dashboard' id="dashboard">dashboard</a>
        <a href='/' class="btn" id="homepage">homepage</a>
      {{#if logged_in}}
        <button class="btn" id="logout">logout</button>
      {{else}}
        <a class="btn" href='/login' id="login">login</a>
        <a class="btn" href='/signup' id="signup">sign up</a>
      {{/if}}
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
