{{!-- View of just one blog post with title, content, username, date created
    the comments are available if logged in
    Comments need comment creator's username and date created --}}

    <div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{blog.title}}</h2>
    <p>{{blog.name}}</p>
    <p>{{blog.date_created}}</p>
    <p>{{blog.content}}</p>
  </div>
</div>