{{!-- Shows blog posts made by the user
        Option to add new post
        When clicking existing post, they can delete or update that post and then save it and go back to the dashboard --}}


<h2>Welcome to your dasboard</h2></br></br>


<a class="btn" href='/dashboard/new' id="login">New Post</a></br></br>

<h3>Select a post to make changes...</h3></br>
{{#each userDash as |blog| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2><a href="dashboard/update/{{blog.id}}">{{blog.title}}</a></h2>
    <p>{{blog.content}}</p>
  </div>
</div>
{{/each}}

