{{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}}

{{!-- Shows all of the blog posts regardless of whether im signed in or not
      Navigation bar has Log In/Out, Homepage, Dashboard, SignUp
      all posts need to be clickable and include title and date created  --}}
