{{#each blogs as |blog| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2><a href="/blog/{{blog.id}}">{{blog.title}}</a></h2>
    <p>{{blog.content}}</p>
  </div>
</div>
{{/each}}

{{!-- Shows all of the blog posts regardless of whether im signed in or not
      Navigation bar has Log In/Out, Homepage, Dashboard, SignUp
      all posts need to be clickable and include title and date created  --}}
